.header-top {
  position: relative;
  padding-bottom: 13px;

  &--catalog {
    padding-bottom: 24px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    content: "";

    @include size(100%, 1px);
    background-color: $border-color;
  }


  &--card {
    padding-bottom: 24px;
  }

  @include tablet {
    padding-bottom: 24px;

    &--card {
      padding-bottom: 25px;
    }

    &::before {
      display: none;
    }
  }

  @include mobile {
    padding-bottom: 14px;

    &--catalog {
      padding-bottom: 14px;
    }
  }
}

.header-top__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-top__button {
  display: none;

  @include tablet {
    @include btn-reset;
    margin-top: 28px;
    padding: 5px;
    display: block;
    align-self: center;
    cursor: pointer;

    svg {
      stroke: $link-color;
    }

    &:hover,
    &:focus {
      svg {
        stroke: $logo-color;
      }
    }

    &--no-js {
      display: none;
    }

    &--tablet-main {
      margin-top: 28px;
    }
  }

  @include mobile {
    margin-top: 18px;

    &--catalog {
      @include size(35px, 38px);

      svg {
        @include size(25px, 22px);
      }
    }
  }

  &--catalog {
    @include tablet {
      margin-top: 28px;
    }

    @include mobile {
      margin-top: 17px;
    }
  }

  &--card {
    @include tablet {
      margin-top: 28px;
    }

    @include mobile {
      margin-top: 18px;
    }
  }
}
