.main-menu {
  display: none;

  @include tablet {
    padding-bottom: 75px;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $logo-color;

    &--no-js {
      position: inherit;
      display: flex;
    }

    &--open {
      display: flex;
      position: fixed;
      height: 100vh;
      z-index: 100;
    }
  }
}

.main-menu__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-menu__button {
  @include btn-reset;
  margin-top: 27px;
  padding: 5px;
  align-self: center;
  cursor: pointer;

  svg {
    stroke: $white;
  }

  &:hover,
  &:focus {
    svg {
      stroke: $basic-black;
    }
  }

  &--no-js {
    display: none;
  }

  @include mobile {
    margin-top: 18px;
  }
}

.main-menu__item-link {
  margin-top: 25px;
  padding: 10px 4px;
  display: flex;
  align-items: center;
  align-self: center;

  svg {
    fill: none;
    stroke: $white;
  }

  &:hover,
  &:focus {
    svg {
      stroke: $basic-black;
    }
  }

  @include mobile {
    margin-top: 15px;
  }
}

.main-menu__login {
  margin-top: 24px;
  margin-left: 6vw;
  display: flex;
  align-items: center;
  width: max-content;
  font-family: $poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: $white;


  &:hover,
  &:focus {
    color: $placeholder-color;
  }

  @include mobile {
    margin-top: 14px;
    margin-left: 5vw;
  }
}
