.pagination-catalog {
  @include reset_for_list;
  margin: 0;
  padding-right: 32px;
  width: 16.2%;
  display: flex;
  justify-content: space-between;

  @include tablet {
    margin: 0;
    margin-top: -2px;
    margin-right: 31px;
    width: 15.3%;
  }

  @include mobile {
    margin: 0 auto;
    padding: 0;
    width: 51%;
  }
}

.pagination-catalog__item {
  @include reset;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  font-family: $poppins;

  @include font-size(16px, 500, 130%);
  text-align: center;
  color: $placeholder-color;

  &--active {
    color: $link-color;
  }
}
