.pagination {
  @include reset_for_list;
  margin: auto;
  display: flex;
  justify-content: center;

  &--main-card {
    margin-left: 0;
  }

  @include tablet {
    margin-top: -10px;
    margin-left: 1px;
  }

  @include mobile {
    margin-top: -19px;
  }
}

.pagination__item {
  @include reset;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  font-family: $poppins;

  @include font-size(16px, 500, 130%);
  text-align: center;
  color: $placeholder-color;

  @include tablet {
    padding: 6px 6.5px;
  }

  @include mobile {
    display: none;
    padding: 6px 5px;
    color: $link-color;
  }

  &--active {
    display: block;
    color: $link-color;
  }

  &--last-child {
    display: none;

    @include mobile {
      display: block;
    }
  }

  &--span {
    display: none;

    @include mobile {
      display: block;
    }
  }
}
