.products-list {
  @include reset_for_list;
  margin-top: 60px;
  margin-left: 4px;
  margin-right: -28px;
  display: flex;

  &--catalog {
    margin-top: 0;
    margin-left: 3px;
    flex-wrap: wrap;
  }

  @include tablet {
    margin-top: 48px;
    margin-right: 4.2%;
    width: 99.3%;
    justify-content: space-between;

    &--catalog {
      width: 99.1%;
    }
  }

  @include mobile {
    margin: auto;
    margin-top: 39px;
    width: 97.3%;
  }
}

.products-list__item {
  @include reset;
  margin-right: 2.34%;
  margin-bottom: 28px;
  min-width: 22.6%;

  &--catalog {
    width: 30.33%;
    margin-right: 2.81%;
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 15px;
    }
  }

  &:hover,
  &:focus {
    .products-list__item-link {
      border: 1px solid $logo-color;
    }
  }

  @include tablet {
    margin-right: 4.2%;
    min-width: 47.7%;

    &--catalog {
      margin-right: 0;
      width: 30.7%;
      min-width: 30.7%;
    }
  }

  @include mobile {
    margin-right: 9.6%;
    width: 45.1%;
    min-width: 45.1%;

    &--catalog {
      margin-right: 0;
      margin-bottom: 4.8px;
      width: 45.3%;
    }
  }
}

.products-list__item-link {
  @include reset;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;

  img {
    @include size(19.7vw, 20.76vw);
    object-fit: fill;

    @include tablet {
      @include size(43vw,44.4vw);
    }

    @include mobile {
      height: 42.6vw;
    }
  }

  &--catalog {
    img {
      @include size(19.7vw, 19.9vw);

      @include tablet {
        @include size(26.82vw, 27.3vw);
      }

      @include mobile {
        @include size(41vw, 42.5vw);
      }
    }
  }
}

.products-list__item-title {
  @include reset;
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-family: $poppins;

  @include font-size(16px, 500, 130%);
  text-align: center;
  color: $link-color;

  &--adjust {
    margin-top: 22px;
    margin-left: 7px;
  }

  &--margin-left {
    margin-left: 7px;
  }

  @include tablet {
    margin-top: 9px;
    margin-left: 17px;

    &--tablet-adjust {
      margin-top: 15px;
      margin-left: -2px;
    }

    &--catalog {
      margin-top: 15px;
      margin-left: 0;
    }
  }

  @include mobile {
    margin-left: 3px;

    &--tablet-adjust {
      margin-top: 10px;
    }

    &--catalog {
      margin-top: 11px;
      margin-left: 0;
    }
  }
}

.products-list__item-price {
  @include reset;
  margin-top: 6px;
  display: flex;
  align-items: center;
  font-family: $poppins;

  @include font-size(14px, 700, 130%);
  text-align: center;
  color: $link-color;

  &--adjust {
    padding-left: 10px;
  }

  &--adjust-top {
    margin-top: 0;
  }

  &--margin-left {
    margin-left: 13px;

    @include tablet {
      margin-left: 0;
    }
  }

  &--margin-left-second {
    margin-left: 5px;

    @include tablet {
      margin-left: 0;
    }
  }

  @include tablet {
    margin-top: 12px;

    &--adjust {
      margin-top: 6px;
      padding-left: 0;
    }

    &--catalog {
      margin-top: 6px;
    }
  }

  @include mobile {
    margin-top: 7px;
  }
}
