.promo {
  display: flex;
  min-height: 33.9vw;
  background-image: url("../img/promo@1x.png");
  background-repeat: no-repeat;
  background-color: $logo-color;
  background-size: 100% 34.9vw;
  box-shadow: 0 4px 4px $white-drop-shadow;

  @include retina {
    background-image: url("../img/promo@2x.png");
  }

  @include tablet {
    min-height: 60.3vw;
    background-image: url("../img/promo-tablet@1x.png");
    background-size: 100% 60.9vw;
    box-shadow: none;

    @include retina {
      background-image: url("../img/promo-tablet@2x.png");
    }
  }

  @include mobile {
    min-height: 144.8vw;
    background-image: url("../img/promo-mobile@1x.png");
    background-size: 100% 144.9vw;

    @include retina {
      background-image: url("../img/promo-mobile@2x.png");
    }
  }
}

.promo__title {
  @include reset;
  margin: auto;
  margin-top: 13.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $cormorant-garamond;

  @include font-size(3.29vw, 700, 138%);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;

  span {
    font-style: italic;

    @include font-size(2.51vw, 400, 91%);
    text-transform: lowercase;
  }

  @include tablet {
    margin-top: 23.5vw;
    padding-right: 19px;
    font-size: 5.82vw;

    span {
      font-size: 4.5vw;
    }
  }

  @include mobile {
    margin-top: 58.1vw;
    padding-right: 0;
    font-size: 11.85vw;
    line-height: 148%;

    span {
      font-size: 9.6vw;
      line-height: 70%;
    }
  }
}
