.question-list {
  @include reset_for_list;
  margin-top: 50px;
  width: 82.2%;

  @include tablet {
    margin-top: 49px;
    width: 98.5%;
  }

  @include mobile {
    margin-top: 29px;
    width: 96.5%;
  }
}

.question-list__item {
  @include reset;
  margin-top: -1px;
  border: 1px solid $logo-color;
}

.question-list__item-title {
  @include reset;
  padding-top: 42px;
  padding-right: 50px;
  padding-bottom: 42px;
  padding-left: 42px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: $poppins;

  @include font-size(18px, 500, 130%);
  text-align: center;
  color: $link-color;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $logo-color;
  }

  &--padding {
    padding-bottom: 44.5px;
  }

  &::before {
    position: absolute;
    top: 52px;
    right: 48px;
    content: "";

    @include size(15px, 8px);
    background-image: url("../img/arrow-second.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);

    @include tablet {
      top: 49px;

      @include size(27px, 13px);
      background-size: 26px 15px;
    }

    @include mobile {
      top: 24px;
      right: 21px;

      @include size(24px, 12px);
      background-size: 26px 15px;
    }
  }

  &--active {
    &::before {
      top: 50px;
      right: 50px;
      transform: rotate(0);

      @include tablet {
        top: 48px;
        right: 46.2px;
      }

      @include mobile {
        top: 22px;
        right: 23px;
      }
    }
  }

  &--no-js {
    &::before {
      display: none;
    }
  }

  @include tablet {
    margin-left: 6px;
    padding-bottom: 44px;

    &--padding {
      padding-bottom: 44.5px;
    }
  }

  @include mobile {
    padding-top: 14px;
    padding-right: 23px;
    padding-bottom: 21px;
    padding-left: 17px;
    flex-wrap: wrap;
    align-items: flex-start;

    @include font-size(16px, 500, 140%);
    text-align: left;

    &--padding {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

.question-list__item-answer {
  @include reset;
  margin-top: -34px;
  margin-bottom: 42px;
  margin-left: 49px;
  display: none;
  width: 54%;
  font-family: $poppins;

  @include font-size(16px, 400, 130%);
  color: $link-color;

  &--no-js {
    display: block;
  }

  &--active {
    display: block;
  }

  @include tablet {
    margin-top: -17px;
    margin-bottom: 44px;
    width: 84%;

    span {
      display: none;
    }
  }

  @include mobile {
    margin-top: -6px;
    margin-left: 24px;
    margin-bottom: 21px;
    width: 71%;

    @include font-size(14px, 400, 140%);
  }
}
