$min-mobile-width: 320px;
$max-mobile-width: 767px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$retina-x2: 2dppx;

$white: #ffffff;
$basic-black: #000000;

$poppins: "Poppins", "Arial", sans-serif;
$cormorant-garamond:  "Cormorant Garamond", "Arial", serif;
