$min-mobile-width: 320px;
$max-mobile-width: 767px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$retina-x2: 2dppx;

$white: #ffffff;
$white-transparent: rgba($white, 0.15);
$white-transparent-link: rgba($white, 0.75);
$basic-black: #000000;
$white-drop-shadow: rgba($basic-black, 0.25);
$logo-color: #a87b62;
$placeholder-color: #9b9997;
$link-color: #1d1613;
$border-color: #f6f5f4;
$article-background: #f0eae4;

$poppins: "Poppins", "Arial", sans-serif;
$cormorant-garamond:  "Cormorant Garamond", "Arial", serif;
